<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="host" value="ftp://192.168.1.1"/>
		<add key="userId" value="pizza"/>
		<add key="password" value="DCsucks4ever"/>
		<add key="rootPath" value="/Cataclysm/Downloads"/>
		<add key="watchPath" value="E:\Repos\FtpFileWatcher\Test"/>
		<add key="cacheSeconds" value="5"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
